* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.calculator {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(-275deg, oklch(90.1% 0.058 230.902), oklch(82.8% 0.111 230.318));
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    background-color: oklch(92.9% 0.013 255.508);
    box-shadow:
        inset 1px 1px 5px oklch(86.9% 0.022 252.894),
        inset -1px -1px 5px oklch(96.8% 0.007 247.896);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    color: oklch(92.9% 0.013 255.508);
    background: linear-gradient(315deg, oklch(68.5% 0.169 237.323), oklch(74.6% 0.16 232.661));
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:
        inset 1px 1px 3px oklch(95.1% 0.026 236.824),
        inset -1px -1px 3px oklch(58.8% 0.158 241.966);
}

button:hover {
    background: linear-gradient(315deg, oklch(74.6% 0.16 232.661), oklch(58.8% 0.158 241.966));
    transform: scale(1.05);
}